[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/ruby"]
	path = bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/freya-theme"]
	path = bundle/freya-theme
	url = https://github.com/vim-scripts/freya.git
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/moria"]
	path = bundle/moria
	url = https://github.com/vim-scripts/moria.git
[submodule "bundle/moria-theme"]
	path = bundle/moria-theme
	url = https://github.com/vim-scripts/moria.git
[submodule "bundle/jellybeans-theme"]
	path = bundle/jellybeans-theme
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/xoria256-theme"]
	path = bundle/xoria256-theme
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "bundle/vividchalk-theme"]
	path = bundle/vividchalk-theme
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "bundle/inkpot-theme"]
	path = bundle/inkpot-theme
	url = https://github.com/ciaranm/inkpot.git
[submodule "bundle/peaksea-theme"]
	path = bundle/peaksea-theme
	url = https://github.com/vim-scripts/peaksea.git
[submodule "bundle/darkspectrum-theme"]
	path = bundle/darkspectrum-theme
	url = https://github.com/vim-scripts/darkspectrum.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/python-syntax"]
	path = bundle/python-syntax
	url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/thrift-syntax"]
	path = bundle/thrift-syntax
	url = https://github.com/jigish/vim-thrift.git
[submodule "bundle/cocoa-syntax"]
	path = bundle/cocoa-syntax
	url = https://github.com/msanders/cocoa.vim.git
[submodule "bundle/markdown-syntax"]
	path = bundle/markdown-syntax
	url = https://github.com/tpope/vim-markdown.git
[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/coffeescript-syntax"]
	path = bundle/coffeescript-syntax
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/scala-syntax"]
	path = bundle/scala-syntax
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tsaleh/vim-matchit.git
[submodule "bundle/actionscript-syntax"]
	path = bundle/actionscript-syntax
	url = https://github.com/vim-scripts/actionscript.vim.git
[submodule "bundle/go-syntax"]
	path = bundle/go-syntax
	url = https://github.com/jigish/go-syntax.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/lucius-theme"]
	path = bundle/lucius-theme
	url = https://github.com/jonathanfilip/vim-lucius
